* {
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-size: 18px;
    font-family: 'Open Sans', sans-serif;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.main-header {
    background-color: #4c5eab;
    color: white;
    width: 100%;
    height: 12em;
}

.main-header > .container {
    padding: 2em 0;
}

.main-header img {
width: 140px;
height: 140px;
border-radius: 70px;
background-color: #61c3f8;
float: left;
}

.main-header h1 {
    font-family: 'Montserrat', sans-serif;
} 
.main-header h2 {
    font-weight: 400;
}

.card {
    float: left;
}

.name {
    float: right;
    padding: 1em 2em;
}

.contact {
    float: right;
}

.contact p {
    padding: .3em;
}

.fas {
    font-size: .8em;
    padding: 0 1em;
    color: white;
}

section {
    color: #252b2d;
    height: 1030px;
    margin-bottom: 4em;

}

.info {
    width: 33.3%;
    float: left;
    padding-left: 5%;
    background-color: rgb(242, 242, 242);
}

section header {
    padding-bottom: 1em;
    overflow: hidden;
}

section article {
    overflow: hidden;
    margin-top: 2em;
}

section h3 {
    color: #1c2123;
    font-family: 'Montserrat', sans-serif;
    float: left;
    line-height: 40px;
    padding-left: 1em;
}

.round-icon {
    background-color: #4c5eab;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
}

.fa-briefcase {
    padding:  0 10px 0px 11px;;
    line-height: 40px;
    font-size: 1em;
}

.info > article:nth-child(1) > p {
    clear: both;
    padding-right: 1em;
}

.interest-item {
    width: 33.3%;
    float: left;
    text-align: center;
}

.interests {
    color: #4c5eab;
    font-size: 1.2em;
    background-color: white;
    padding: .6em;
    border-radius: 50%;
    border: 5px solid;
}

.fa-gamepad,
.fa-biking {
    padding: .6em 10.25px;
}

.interest-item h4 {
    padding-top: 1em;
}

article h5 {
    padding-bottom: .5em;
}

.info > article:nth-child(3) > div {
    float: left;
}

.dots-and-line > p {
    width: 1em;
    height: 1em;
    border-radius: 50%;
    background-color: transparent;
    border: 7px solid rgb(145, 145, 145);
    margin: 1.5em .7em 0 .3em;
}

.dots-and-line > p:first-of-type {
    position: relative;
    margin-bottom: 4.6em;
}

.dots-and-line > p:first-of-type::after {
    content: "";
    height: 4.6em;
    width: 2px;
    top: 11px;
    right: 1px;
    background-color: lightgray;
    display: block;
    position: absolute;
}

.ref:first-of-type {
    margin-bottom: 1.5em;
}

.ref > p {
    color: grey;
}

.ref > p:nth-child(2) {
    color: #4c5eab;
}

.info > article:nth-child(4) span {
    font-weight: 400;
}

.portfolio {
    width: 66.6%;
    float: right;
    padding-right: 5%;
}

.portfolio header {
    margin-left: 40px;
    margin-top: 2em;
}

.portfolio-images {
    margin-left: 95px;
}

figure {
    float: left;
    width: 47.5%;
    padding: 1.25%;
    background-color: rgb(242, 242, 242);

}

figcaption {
    background-color: white;
}

.portfolio-images img {
    width: 100%;
    height: 220px;
}

.portfolio-images h5 {
    text-align: center;
}
.portfolio-images h5:nth-child(1) {
    padding-top: 1em;
}

.portfolio-images h5:nth-child(2) {
    padding-bottom: 1em;
    font-weight: 400;
}

footer {
    width: 100%;
    height: 4em;
    bottom: 0;
    position: fixed;
    background-color: #4c5eab;
    color: white
}

footer p {
    line-height: 4em;
}