@font-face {
    font-family: 'GentiumBookBasic';
    src: url('../fonts/GentiumBookBasic-Bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'MyriadPro';
    src: url('../fonts/Myriad\ Pro\ Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Yeseva One';
    src: url('../fonts/YesevaOne-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf') format('ttf');
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Italic.ttf') format('ttf');
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Bold.ttf') format('ttf');
    font-style: normal;
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

}

.page-container {
    position: relative;
    min-height: 100vh;
    width: 1600px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

header {
    position: fixed;
    width: 1600px;
    height: 160px;
    top: 0;
    background-image: linear-gradient(rgba(0,0,0,0.7) 0%, transparent 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;

}

header > h2 {
    font-family: 'Yeseva One';
    color: white;
    font-size: 36px;
}

.nav-and-social {
    display: flex;

}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 700px;
}

header nav ul li {
    text-align: center;
}

header nav ul li a {
    font-family: 'GentiumBookBasic';
    font-size: 21px;

}

.social-icons {
    padding-left: 20px;
}

main {
    padding-bottom: 320px;
}


section {
    width: 100%;
    height: 100vh;
    display: flex;
    /* position: relative; */
}

.home {
    background: url(../images/bg-home.png) center/cover no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.home h1 {
    color: white;
    font-family: "Yeseva One";
    font-size: 90px;
    opacity: .9;
    width: 50%;
    text-align: center;
    margin-top: 60px;
}

.home > div {
    margin-top: 60px;
}

.decoration {
    opacity: .9;
}

.buttons {
    padding-top: 14px;
}

.buttons a {
    font-family: 'Lato';
    font-size: 18px;
    padding: 14px 30px;
    margin: 0 10px;
}

.buttons  a:first-of-type {
    background-color: rgba(0,0,0,0.6);
    border: black 1px solid;
}

.buttons a:last-of-type {
    background-color: rgba(255, 255, 255, 0.3);
    border: white 1px solid;
}

.about {
    box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
    background-image: linear-gradient(-226deg, rgba(32, 90, 91, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
    background: url(../images/bg-pattern.png) center/cover no-repeat;
}

.ingredients {
    background: url(../images/bg-ingredients.png) center/cover no-repeat;
}

.menu {
    box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
    background-image: linear-gradient(-226deg, rgba(32, 90, 91, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
    background: url(../images/bg-menu.png) center/cover no-repeat;
}

.reviews {
    background: url(../images/bg-reference.png) center/cover no-repeat;
}

.reservations {
    box-shadow: inset 0 0 50px rgba(1, 1, 1, 0.14);
    background-image: linear-gradient(-226deg, rgba(32, 90, 91, 0.09) 0%, rgba(255, 255, 255, 0.09) 100%);
    background: url(../images/bg-pattern.png) center/cover no-repeat;
}

footer {
    background-color: #191919;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 320px;
}